@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #1D1E21;
}

body {
  position: relative;
}

.navbar_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.navbar_container .elements_web {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "sec1 sec2" "sec1 sec3";
}
.navbar_container .elements_web .container_icon_media {
  grid-area: sec1;
}
.navbar_container .elements_web .container_icon_media img {
  width: 65px;
  height: auto;
  margin-top: 1.125rem;
  margin-left: 0.9375rem;
}
.navbar_container .elements_web .container_icon_media2 {
  grid-area: sec2;
}
.navbar_container .elements_web .container_icon_media2 p {
  font-size: 1.4375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.navbar_container .elements_web .container_icon_media3 {
  grid-area: sec3;
  font-size: 18px;
  font-weight: 400;
}

.bg_hidebar .cotainer_social_media {
  width: 130px;
}
.bg_hidebar .cotainer_social_media .icon_socialmedia {
  width: 30px;
}

.reserve_your_spot {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/LandingPage/img/free-digital.png");
  background-position: center center;
  background-attachment: cover;
  background-repeat: no-repeat;
  background-size: 400px;
  background-origin: border-box;
}
.reserve_your_spot .container_content {
  width: 300px;
  height: auto;
  padding: 15px;
}
.reserve_your_spot .container_content h1 {
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
}
.reserve_your_spot .container_content h2 {
  font-size: 18px;
  font-weight: 300;
}
.reserve_your_spot .container_content button {
  all: unset;
  width: 160px;
  height: auto;
  padding: 12px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.reserve_your_spot .container_content button:hover {
  color: #77564D;
}

.user_experence {
  width: 100%;
  height: 760px;
}
.user_experence .container_user {
  width: 100%;
  height: 300px;
  background-image: url("/LandingPage/img/miss.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.user_experence .container_user h2 {
  position: absolute;
  width: 100px;
  font-size: 32px;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 30px;
}
.user_experence .container_text_user {
  width: 100%;
  height: auto;
  padding: 25px;
}
.user_experence .container_text_user h4 {
  text-align: start;
  font-weight: 500;
  line-height: 1.2;
}
.user_experence p {
  text-align: justify;
}

.tittle_learn {
  width: 300px;
  height: 40px;
}
.tittle_learn h3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.sponsors {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.sponsors .container_sponsors {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sponsors .container_sponsors img {
  width: 70px;
  margin-right: 20px;
  margin-left: 20px;
}
.sponsors button {
  all: unset;
  width: 160px;
  height: auto;
  padding: 12px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.sponsors button:hover {
  color: #77564D;
}

.bg_slide {
  width: 100%;
  height: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bg_slide h3 {
  width: 300px;
  height: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.important_container {
  width: 300px;
  height: 300px;
  margin-top: 380px;
}
.important_container h4 {
  width: 100%;
  height: 30px;
  color: #1D1E21;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.important_container .container_img_sponsors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 1px;
  padding: 30px;
}
.important_container .container_img_sponsors .container_imggrid_sponsors img {
  width: 100%;
  object-fit: fill;
}

footer .container_form_action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: auto;
  background-image: url("/LandingPage/img/Fre-digital2.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-color: #EF9C83;
  padding: 35px;
}
footer .container_form_action h2 {
  width: auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  color: #1D1E21;
}
footer .container_form_action .cont_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container_form_action .cont_button button {
  all: unset;
  width: auto;
  all: unset;
  width: 160px;
  height: auto;
  padding: 12px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin-top: -80px;
  background-image: linear-gradient(to top, white, gray);
  border: none;
}
footer .container_form_action .cont_button button:hover {
  color: #77564D;
}
footer .container_footer_1 {
  width: 100%;
  height: 350px;
}
footer .container_form_action_signpu {
  width: auto;
  background-color: #1D1E21;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
footer .container_form_action_signpu h4 {
  width: auto;
  height: 40px;
  text-align: center;
  color: white;
  font-weight: 500;
  margin-top: 20px;
}
footer .container_form_action_signpu .form_signUp {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 20px;
}
footer .container_form_action_signpu .form_signUp input {
  all: unset;
  width: 100%;
  padding: 5px;
  color: white;
  border: 1px solid #EF9C83;
  text-align: center;
}
footer .container_form_action_signpu .form_signUp input:focus {
  outline: #f1aa95;
}
footer .container_form_action_signpu .form_signUp button {
  all: unset;
  all: unset;
  width: 160px;
  height: auto;
  padding: 12px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border: none;
  background-color: #EF9C83;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
footer .container_form_action_signpu .form_signUp button:hover {
  color: #77564D;
}
footer .container_form_action_signpu .form_signUp buttonhover {
  background-color: #d68b75;
}
footer .container_form_action_signpu .location {
  color: white;
  font-size: 17px;
  text-align: center;
}
footer .container_form_action_signpu .social_media_container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
footer .container_form_action_signpu .social_media_container li > img {
  width: 40px;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
