@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #1D1E21;
}

body {
  position: relative;
}

.navbar_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.navbar_container .elements_web {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "sec1 sec2" "sec1 sec3";
}
.navbar_container .elements_web .container_icon_media {
  grid-area: sec1;
}
.navbar_container .elements_web .container_icon_media img {
  width: 4.0625rem;
  height: auto;
  margin-top: 18px;
  margin-left: 15px;
}
.navbar_container .elements_web .container_icon_media2 {
  grid-area: sec2;
}
.navbar_container .elements_web .container_icon_media2 p {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.navbar_container .elements_web .container_icon_media3 {
  grid-area: sec3;
  font-size: 1.125rem;
  font-weight: 400;
}

.bg_hidebar .cotainer_social_media {
  width: 8.125rem;
}
.bg_hidebar .cotainer_social_media .icon_socialmedia {
  width: 1.875rem;
}

.reserve_your_spot {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/LandingPage/img/free-digital.png");
  background-position: center center;
  background-attachment: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
}
.reserve_your_spot .container_content {
  width: auto;
  height: auto;
  padding: 0.9375rem;
}
.reserve_your_spot .container_content h1 {
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.0625rem;
}
.reserve_your_spot .container_content h2 {
  font-size: 1.125rem;
  font-weight: 300;
}
.reserve_your_spot .container_content button {
  all: unset;
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: auto;
  transition: all 0.3s ease-in-out;
}
.reserve_your_spot .container_content button:hover {
  color: #77564D;
}

.user_experence {
  width: 100%;
  height: 47.5rem;
}
.user_experence .container_user {
  width: 100%;
  height: 18.75rem;
  background-image: url("/LandingPage/img/miss.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.user_experence .container_user h2 {
  position: absolute;
  width: 6.25rem;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-left: 1.875rem;
}
.user_experence .container_text_user {
  width: 100%;
  height: auto;
  padding: 1.5625rem;
}
.user_experence .container_text_user h4 {
  text-align: start;
  font-weight: 500;
  line-height: 1.2;
}
.user_experence p {
  text-align: justify;
}

.tittle_learn {
  width: 18.75rem;
  height: 2.5rem;
}
.tittle_learn h3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.sponsors {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sponsors .container_sponsors {
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sponsors .container_sponsors img {
  width: 4.375rem;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}
.sponsors button {
  all: unset;
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: auto;
  transition: all 0.3s ease-in-out;
}
.sponsors button:hover {
  color: #77564D;
}

.important_container {
  width: 18.75rem;
  height: 18.75rem;
  margin-top: 180px;
}
.important_container h4 {
  width: 100%;
  height: 1.875rem;
  color: #1D1E21;
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}
.important_container .container_img_sponsors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 0.0625rem;
  padding: 1.875rem;
}
.important_container .container_img_sponsors .container_imggrid_sponsors img {
  width: 100%;
  object-fit: fill;
}

footer .container_form_action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: auto;
  background-image: url("/LandingPage/img/Fre-digital2.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-color: #EF9C83;
  padding: 2.1875rem;
}
footer .container_form_action h2 {
  width: auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: #1D1E21;
}
footer .container_form_action .cont_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container_form_action .cont_button button {
  all: unset;
  width: auto;
  all: unset;
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: auto;
  transition: all 0.3s ease-in-out;
  margin-top: -5rem;
  background-image: linear-gradient(to top, white, gray);
  border: none;
}
footer .container_form_action .cont_button button:hover {
  color: #77564D;
}
footer .container_footer_1 {
  width: 100%;
  height: 21.875rem;
}
footer .container_form_action_signpu {
  width: auto;
  background-color: #1D1E21;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
}
footer .container_form_action_signpu h4 {
  width: auto;
  height: 2.5rem;
  text-align: center;
  color: white;
  font-weight: 500;
  margin-top: 1.25rem;
}
footer .container_form_action_signpu .form_signUp {
  width: 100%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 1.25rem;
}
footer .container_form_action_signpu .form_signUp input {
  all: unset;
  width: 100%;
  padding: 0.3125rem;
  color: white;
  border: 0.0625rem solid #EF9C83;
  text-align: center;
}
footer .container_form_action_signpu .form_signUp input:focus {
  outline: #f1aa95;
}
footer .container_form_action_signpu .form_signUp button {
  all: unset;
  all: unset;
  width: auto;
  height: auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: auto;
  transition: all 0.3s ease-in-out;
  border: none;
  background-color: #EF9C83;
  text-align: center;
  text-transform: capitalize;
  margin-top: 1.25rem;
  transition: all 0.3s ease-in-out;
}
footer .container_form_action_signpu .form_signUp button:hover {
  color: #77564D;
}
footer .container_form_action_signpu .form_signUp buttonhover {
  background-color: #d68b75;
}
footer .container_form_action_signpu .location {
  color: white;
  font-size: 1.0625rem;
  text-align: center;
}
footer .container_form_action_signpu .social_media_container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.25rem;
}
footer .container_form_action_signpu .social_media_container li > img {
  width: 2.5rem;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .gridTemplate .reserve_your_spot {
    background-size: 100%;
    justify-content: start;
    margin-bottom: 3.75rem;
  }
  .gridTemplate .reserve_your_spot .container_content {
    width: 37.5rem;
  }
  .gridTemplate .reserve_your_spot .container_content h1 {
    font-size: 2.625rem;
  }
  .gridTemplate .reserve_your_spot .container_content h2 {
    font-size: 1.875rem;
    margin-top: 0.9375rem;
  }
  .gridTemplate .reserve_your_spot button {
    margin-top: 2ch;
  }
  .gridTemplate .user_experence {
    width: 90%;
    height: 40.625rem;
  }
  .gridTemplate .user_experence .container_user {
    background-size: 31.25rem;
    background-position: left;
  }
  .gridTemplate .user_experence .container_user h2 {
    right: 11.25rem;
  }
  .gridTemplate .user_experence .container_text_user {
    width: 90%;
    margin-left: 8.125rem;
  }
  .gridTemplate .tittle_learn {
    width: 100%;
    height: 3.75rem;
  }
  .gridTemplate .tittle_learn h3 {
    font-size: 2.5rem;
  }
  .gridTemplate .sponsors {
    height: 25rem;
  }
  .gridTemplate .sponsors .container_sponsors img {
    width: 8.125rem;
    object-fit: contain;
  }
  .gridTemplate .sponsors .container_sponsors div > p {
    font-size: 1.5rem;
  }
  .gridTemplate .carousel_section {
    width: 90%;
    height: auto;
    margin-bottom: 10%;
  }
  .gridTemplate .important_container {
    width: 100%;
    height: 21.875rem;
    margin-top: 10%;
  }
  .gridTemplate .important_container h4 {
    font-size: 3.125rem;
    margin-bottom: 4.1875rem;
  }
  .gridTemplate .important_container .container_img_sponsors {
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    padding: 0.625rem;
  }
  .gridTemplate .important_container .container_img_sponsors .container_imggrid_sponsors img {
    width: 10rem;
    object-fit: contain;
  }
  .gridTemplate .container_form_action h2 {
    background-color: white;
    opacity: 80%;
    padding: 5px;
    font-size: 26px;
    border-radius: 10px;
  }
  .gridTemplate .container_form_action .cont_button button {
    width: 200px;
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
