@import "_Styles.scss", "_Variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color_text;
}

body {
    position: relative;
}

.navbar_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    justify-items: center;

    .elements_web {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "sec1 sec2"
            "sec1 sec3";

        .container_icon_media {
            grid-area: sec1;

            img {
                width: 4.0625rem;
                height: auto;
                margin-top: 18px;
                margin-left: 15px;
            }
        }

        .container_icon_media2 {
            grid-area: sec2;

            p {
                font-size: 23px;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
            }

        }

        .container_icon_media3 {
            grid-area: sec3;
            font-size: 1.125rem;
            font-weight: 400;
        }
    }

}

.bg_hidebar {
    .cotainer_social_media {
        width: 8.125rem;

        .icon_socialmedia {
            width: 1.875rem;
        }
    }

}

//main

.reserve_your_spot {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/LandingPage/img/free-digital.png");
    background-position: center center;
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: border-box;

    .container_content {
        width: auto;
        height: auto;
        padding: 0.9375rem;

        h1 {
            font-weight: 600;
            line-height: 1;
            letter-spacing: 0.0625rem;
        }

        h2 {
            font-size: 1.125rem;
            font-weight: 300;
        }

        button {
            @include button_purchase
        }
    }
}

.user_experence {
    width: 100%;
    height: 47.5rem;

    .container_user {
        width: 100%;
        height: 18.75rem;
        background-image: url("/LandingPage/img/miss.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        h2 {
            position: absolute;
            width: 6.25rem;
            font-size: 2rem;
            font-weight: 500;
            margin-top: 2.5rem;
            margin-left: 1.875rem;
        }
    }

    .container_text_user {
        width: 100%;
        height: auto;
        padding: 1.5625rem;

        h4 {
            text-align: start;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    p {
        text-align: justify;
    }
}

.tittle_learn {
    width: 18.75rem;
    height: 2.5rem;

    h3 {
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
    }
}

.sponsors {
    width: 72%;
    height: auto;
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   grid-template-rows: repeat(3,2fr);
   grid-template-areas: 
   "img-s-1 paragraph-s-1"
   "img-s-2 paragraph-s-2"
   "img-s-3 paragraph-s-3";

   img{
    width: 120px;
   }
   
   p{
    text-align: justify;

   }

  .img_sponsors_1{
    grid-area: img-s-1;
  }
  .img_sponsors_2{
    grid-area: img-s-2
  }
  .img_sponsors_3{
    grid-area: img-s-3;
  }
  .paragraph_sponsors_1{
    grid-area: paragraph-s-1;
  }

  .paragraph_sponsors_2{
    grid-area: paragraph-s-2;
  }

  .paragraph_sponsors_3{
    grid-area: paragraph-s-3;
  }

}

.container_button_purchase{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .button_purchase{
        @include button_purchase;
    }
}



.important_container {
    width: 18.75rem;
    height: 18.75rem;
    margin-top: 180px;

    h4 {
        width: 100%;
        height: 1.875rem;
        color: $color_text;
        text-align: center;
        font-size: 1.875rem;
        margin-bottom: 1.25rem;
    }

    .container_img_sponsors {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);
        gap: 0.0625rem;
        padding: 1.875rem;

        .container_imggrid_sponsors {
            img {
                width: 100%;
                object-fit: fill;
            }
        }
    }
}


footer {
    .container_form_action {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: auto;
        background-image: url("/LandingPage/img/Fre-digital2.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        background-color: #EF9C83;
        padding: 2.1875rem;

        h2 {
            width: auto;
            text-align: center;
            text-transform: capitalize;
            font-size: 1.25rem;
            color: $color_text;
        }

        .cont_button {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                all: unset;
                width: auto;
                @include button_purchase;
                margin-top: -5rem;
                background-image: linear-gradient(to top, white, gray);
                border: none;

            }
        }
    }

    .container_footer_1 {
        width: 100%;
        height: 21.875rem;
    }

    .container_form_action_signpu {
        width: auto;
        background-color: #1D1E21;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1.25rem;

        h4 {
            width: auto;
            height: 2.5rem;
            text-align: center;
            color: white;
            font-weight: 500;
            margin-top: 1.25rem;
        }

        .form_signUp {
            width: 100%;
            padding: 0.625rem;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            margin-top: 1.25rem;

            input {
                all: unset;
                width: 100%;
                padding: 0.3125rem;
                color: white;
                border: 0.0625rem solid #EF9C83;
                text-align: center;

                &:focus {
                    outline: #f1aa95;
                }
            }

            button {
                all: unset;
                width: 200px;
                padding: 10px;
                border: none;
                border-radius: 30px;
                background-color: #EF9C83;
                text-align: center;
                text-transform: capitalize;
                margin-top: 1.25rem;
                transition: all 0.3s ease-in-out;

                &hover {
                    background-color: #d68b75;
                }
            }

        }

        .location {
            color: white;
            font-size: 1.0625rem;
            text-align: center;
        }

        .social_media_container {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 1.25rem;


            li>img {
                width: 2.5rem;
                height: auto;
            }
        }
    }
}

// preview Ipad

@media (min-width: 768px) and (max-width: 1400px) {
    .gridTemplate {

        .reserve_your_spot {
            background-size: 100%;
            justify-content: start;
            margin-bottom: 3.75rem;

            .container_content {
                width: 37.5rem;

                h1{
                    font-size: 2.625rem;
                }
                h2{
                    font-size: 1.875rem;
                    margin-top: 0.9375rem;
                }
            }

            button {
                margin-top: 2ch;
            }

        }

        .user_experence{
            width: 90%;
            height: 40.625rem;

            .container_user{
                background-size:31.25rem;
                background-position: left;

                h2{
                    right: 11.25rem;
                }
            }
            .container_text_user{
                width:90%;
                margin-left: 8.125rem;
            }
        }


        .tittle_learn{
            width: 90%;
            height: 3.75rem;
            h3{
                font-size: 2.5rem;
            }
        }

        .sponsors{
            width: 640px;
            height: 25rem;
           padding: 30px;
           
                img{
                    width: 8.125rem;
                    object-fit: contain;
                }

                 p{
                    font-size: 1.5rem;
                }
            
        }

        

  
        .carousel_section{
            width: 90%;
            height:auto;
            margin-bottom: 10%;
        }

        .important_container{
            width: 100%;
            height: 21.875rem;
            margin-top: 10%;
            h4{
                font-size:3.125rem ;
                margin-bottom: 4.1875rem;
            }

            .container_img_sponsors{
                grid-template-columns: repeat(4,2fr);
                grid-template-rows: repeat(4,2fr);
                padding: 0.625rem;

                .container_imggrid_sponsors{
                    
                    img{
                        width: 10rem;
                        object-fit: contain;
                    }
                }
            }
        }

        .container_form_action{
            h2{
                background-color: white;
                opacity: 80% ;
                padding: 5px;
                font-size: 26px;
                border-radius: 10px;
            }

            .cont_button {
                 button{
                    width: 200px;
                    font-size: 22px;
                 }
            }
        }

      
    }

    
}