@import "_Styles.scss", "_Variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color_text;
}

body {
    position: relative;
}

.navbar_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    justify-items: center;

    .elements_web {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "sec1 sec2"
            "sec1 sec3";

        .container_icon_media {
            grid-area: sec1;

            img {
                width: 65px;
                height: auto;
                margin-top: 1.125rem;
                margin-left: 0.9375rem;
            }
        }

        .container_icon_media2 {
            grid-area: sec2;

            p {
                font-size: 1.4375rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
            }

        }

        .container_icon_media3 {
            grid-area: sec3;
            font-size: 18px;
            font-weight: 400;
        }
    }

}

.bg_hidebar {
    .cotainer_social_media {
        width: 130px;

        .icon_socialmedia {
            width: 30px;
        }
    }

}

//main

.reserve_your_spot {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/LandingPage/img/free-digital.png");
    background-position: center center;
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 400px;
    background-origin: border-box;

    .container_content {
        width: 300px;
        height: auto;
        padding: 15px;

        h1 {
            font-weight: 600;
            line-height: 1;
            letter-spacing: 1px;
        }

        h2 {
            font-size: 18px;
            font-weight: 300;
        }

        button {
        @include button_purchase
        }
    }
}

.user_experence{
    width: 100%;
    height: 760px;

        .container_user{
            width: 100%;
            height: 300px;
            background-image:url("/LandingPage/img/miss.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            h2{
                position: absolute;
                width: 100px;
                font-size: 32px;
                font-weight: 500;
                margin-top: 40px;
                margin-left: 30px;
            }
        }
        
        .container_text_user{
            width: 100%;
            height: auto;
            padding: 25px;

            h4{
                text-align: start;
                font-weight: 500;
                line-height: 1.2;
            }
        }
    p{
        text-align: justify;
    }
}

.tittle_learn{
    width: 300px;
    height: 40px;

    h3{
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
    }
}

.sponsors{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    .container_sponsors{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            width: 70px;
            margin-right: 20px;
            margin-left: 20px;
        }
    
    }
    button{
        @include button_purchase
    }

}

.bg_slide{
    width: 100%;
    height: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    h3{
        width: 300px;
        height: 30px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

.important_container{
    width: 300px;
    height: 300px;
    margin-top: 380px;

    h4{
        width: 100%;
        height: 30px;
        color:$color_text;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .container_img_sponsors{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(2,2fr);
        gap: 1px;
        padding: 30px;

        .container_imggrid_sponsors{
            img{
                width: 100%;
                object-fit: fill;
            }
        }
    }
}


footer{
    .container_form_action{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: auto;
        background-image: url("/LandingPage/img/Fre-digital2.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        background-color:#EF9C83 ;
        padding: 35px;

        h2{
            width: auto;
            text-align: center;
            text-transform: capitalize;
            font-size: 20px;
            color: $color_text;
        }
        .cont_button{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                all: unset ;
                width: auto;
               @include button_purchase;
                margin-top: -80px;
                background-image: linear-gradient(to top, white, gray);
                border: none;
              
            }
        }
    }
    .container_footer_1{
        width: 100%;
        height: 350px;
    }

    .container_form_action_signpu{
        width: auto ;
        background-color: #1D1E21;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;

        h4{
            width: auto;
            height: 40px;
            text-align: center;
            color: white;
            font-weight: 500;
            margin-top: 20px;
        }
        .form_signUp{
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            margin-top: 20px;

            input{
                all: unset ;
                width: 100%;
                padding: 5px;
                color: white;
                border: 1px solid #EF9C83 ;
                text-align: center;

                &:focus{
                    outline: #f1aa95;
                }
            }
            button{
                all: unset ;
                @include button_purchase;
                border: none;
                background-color: #EF9C83;
                text-align: center;
                text-transform: capitalize;
                margin-top: 20px;
                transition: all 0.3s ease-in-out;

                &hover{
                    background-color: #d68b75;
                }
            }

        }
        .location{
            color: white;
            font-size: 17px;
            text-align: center;
        }
        .social_media_container{
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
    

            li > img{
                width: 40px;
                height: auto;
            }
        }
    }
}